html
	head
		title page1
		link(rel="stylesheet" type="text/css" href="node_modules/bootstrap/dist/css/bootstrap.min.css")
	body
		h2 Coordonnées
		form(method="GET" action="/coordinate")
		div.form-group
			label(for="first_name") Prénom
			input#first_name.form-control(type="text" name="first_name" value=first_name)
		div.form-group
			label(for="last_name") Nom de famille
			input#last_name.form-control(type="text" name="last_name" value=last_name)
		div.form-group
			label(for="age") Date de naissance
			input#age.form-control(type="text" name="age" value=age)
		div.form-group
			label(for="address") Adresse
			textarea#address.form-control(type="text" placeholder="votre adresse" name="address" value=address)
		div.form-group
			button#submit.btn.btn-success(type="button") page suivante
		script(type="text/javascript" src="node_modules/jquery/dist/jquery.min.js")
		script(type="text/javascript" src="node_modules/bootstrap/dist/js/bootstrap.min.js")
