html
	head
		title page2
		link(rel="stylesheet" type="text/css" href="node_modules/bootstrap/dist/css/bootstrap.min.css")
	body
		div.form-group
			label(for="e_mail") E-mail
			input#e_mail.form-control(type="text" name="e_mail" value=e_mail)
		div.form-group
			label(for="tel") Numéro de téléphone
			input#tel.form-control(type="text" name="tel" value=tel)
		div.form-group
			button#submit.btn-success(type="button") page suivante
		script(type="text/javascript" src="node_modules/jquery/dist/jquery.min.js")
		script(type="text/javascript" src="node_modules/bootstrap/dist/js/bootstrap.min.js")
